#Main-container {
	margin: 100px auto;
	width: 600px;
}
table {
	background-color: ghostwhite;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
	position: relative; left: 3.3cm; bottom: 1.7cm;
	border-radius: 10px;
}
th, td {
	padding: 5px;
}
thead {
	background-color: orange;
	color: white;
}
tr:nth-child(even) {
	background-color: #DDD;
}
input.mod {
	width: 100px; height: 30px; 
	font-size: 20px; 
	position: absolute; top: 440px; left: 15cm;
	background: #921AFF;
	color: white;
	border-radius: 6px;
	border: none;
	padding: 0;
	cursor: pointer;
}
input.mod:hover {
	background: #B15BFF;
}
/*campos y boton*/
input.especie {
	width: 160px; height: 30px; 
	font-size: 17px; 
	border-radius: .3em;
	border: none;
}
input.nombre {
	width: 160px; height: 30px; 
	font-size: 17px; 
	border-radius: .3em;
	border: none;
}
input.ojos {
	width: 160px; height: 30px; 
	font-size: 17px; 
	border-radius: .3em;
	border: none;
}
input.patas {
	width: 160px; height: 30px; 
	font-size: 17px; 
	border-radius: .3em;
	border: none;
}