#Main-container {
	margin: 100px auto;
	width: 750px;
}
table {
	background-color: ghostwhite;
	text-align: center;
	font-size: 17px;
	border-collapse: collapse;
	width: 90%;
	position: relative; left: 1.8cm; bottom: 1cm;
}
th, td {
	padding: 6px;
}
thead {
	background-color: orange;
	color: white;
}
tr:nth-child(even) {
	background-color: #DDD;
}
input.mod {
	width: 100px; height: 30px; 
	font-size: 20px; 
	position: relative; right: 350px; top: 70px;
	background: #921AFF;
	color: white;
	border-radius: 6px;
	border: none;
	padding: 0;
	cursor: pointer;
}
input.mod:hover {
	background: #B15BFF;
	transition-duration: 0.5s;
}
/*campos y boton*/
input.nombres {
	width: 190px; height: 30px; 
	font-size: 17px; 
	border: none;
	border-bottom: solid 3px blue;
}
input.apellidos {
	width: 190px; height: 30px; 
	font-size: 17px; 
	border: none;
	border-bottom: solid 3px blue;
}
input.cedula {
	width: 190px; height: 30px; 
	font-size: 17px; 
	border: none;
	border-bottom: solid 3px blue;
}