a.reg {
	color: blue;
	padding: 2px;
	text-decoration: none;
}
#Main-container {
	margin: 100px auto;
	width: 750px;
}
table {
	background-color: ghostwhite;
	text-align: center;
	font-size: 17px;
	border-collapse: collapse;
	width: 110%;
	position: relative; bottom: 1cm;
}
th, td {
	padding: 5px;
}
thead {
	background-color: orange;
	color: white;
}
tr:nth-child(even) {
	background-color: #DDD;
}
input.mod {
	width: 63px; height: 15px; 
	font-size: 13px; 
	position: relative; 
	background: #00CACA;
	color: white;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
input.eli {
	width: 63px; height: 15px; 
	font-size: 13px; 
	position: relative; 
	background: red;
	color: white;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
input.mod:hover {
	background: #00FFFF;
	transition-duration: 0.3s;
}
input.eli:hover {
	background: #FF7575;
	transition-duration: 0.3s;
}